    /* RESET */
        html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td ,textarea{ margin: 0; padding: 0; } 
        body{font-size:100%;}
        ul{list-style:none;}
        /* Einde RESET */
        h1, h1+p{
           margin-top:1em; 
           margin-bottom:1em;
           text-align:center;
        }
        .hidden {
          display:none;
        }
        body{
            min-width:40em;
            color: grey;
            font-family:Arial,Helvetica,Sans-Serif;
            line-height: 150%;
            background: rgb(181,189,200); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
            background:#333333;
            background:whitesmoke;
        }
        .container{ min-width:50em;
            max-width:100em;
            width:80%;
           margin:0 auto;
        }
        .projectholder{
            clear:both;
             background: rgb(181,189,200); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
            border:4px solid whitesmoke;
            border-radius:15px;
        }
        .projectholder a{
            color:white;
            text-decoration:none;
        }
        .projectholder .link{
            text-align:center;
            background:#2F3B42;
           font-size:130%;
           margin-top:0.5em;
            margin-left:3em;
            margin-right:3em;
            padding:0.5em;
            clear:both;
            border:0.125em solid whitesmoke;
            border-radius:15px;
        }
        .projectholder .srclink{
            text-align:center;
            margin-left:3.88em;
            margin-right:3.88em;
            padding:0.5em;
        }
        .projectholder p{
            text-align:center;
            display:block;
            color:white;
            //margin-left:25em;
            margin-top:1em;
        }
        .projectholder .projectThumb{
            margin-left:7%;
            width:20em;
        }
        .projectholder .projectThumb img{
            float:left;
            max-width:100%;
        }
        .innerprojectholder{
            margin-left:7%;
             margin-right:3.87em;
            width:86%;
            height:100%;
            

        }
        .innerprojectholder iframe{
            width:100%;
            height:80%;
            margin:0 auto;
            border:none;
            outline:1px yellow solid;
            overflow:hidden;
        }
        *{
            // outline:red solid 1px;
        }