<nav>
    <ul>
        <li>
            <a href="portfoliocontroller.php">Portfolio</a>
        </li>
        <li>
            <a href="aboutmecontroller.php">About Me</a>
        </li>
    </ul>
</nav>
